<template>
    <div class="container">
        <div class="row">
            <div class="video" id="video-0-0">(1, 1)</div>
            <div class="video" id="video-0-1">(1, 2)</div>
            <div class="video" id="video-0-2">(1, 3)</div>
            <div class="line"></div>
            <div class="video" id="video-0-3">(1, 4)</div>
            <div class="video" id="video-0-4">(1, 5)</div>
            <div class="video" id="video-0-5">(1, 6)</div>
        </div>
        <div class="row">
            <div class="video" id="video-1-0">(2, 1)</div>
            <div class="video" id="video-1-1">(2, 2)</div>
            <div class="video" id="video-1-2">(2, 3)</div>
            <div class="line"></div>
            <div class="video" id="video-1-3">(2, 4)</div>
            <div class="video" id="video-1-4">(2, 5)</div>
            <div class="video" id="video-1-5">(2, 6)</div>
        </div>
        <div class="row">
            <div class="video" id="video-2-0">(3, 1)</div>
            <div class="video" id="video-2-1">(3, 2)</div>
            <div class="video" id="video-2-2">(3, 3)</div>
            <div class="line"></div>
            <div class="video" id="video-2-3">(3, 4)</div>
            <div class="video" id="video-2-4">(3, 5)</div>
            <div class="video" id="video-2-5">(3, 6)</div>
        </div>
        <div class="row" style="text-align: left">
            <button id="btn" @click="sendLockMessage()">提交</button>
            <button id="btnCheckup" @click="checkUp()">视频轮询</button>
        </div>
    </div>
</template>

<script>
    var Stomp_Client;
    export default {
        name: "Control",
        mounted: function () {
            this.$nextTick(function () {
                this.initMq();
                this.initLock();
            })
        },
        methods: {
            initMq: function () {
                var ws;
                if (location.search == "?ws") {
                    ws = new WebSocket("ws://192.168.25.101:15674/ws")
                } else {
                    ws = new SockJS("http://192.168.25.101:15674/stomp");
                }
                // 获得Stomp client对象
                Stomp_Client = Stomp.over(ws);
                Stomp_Client.heartbeat.outgoing = 0;
                Stomp_Client.heartbeat.incoming = 0;
                // 定义连接成功回调函数
                function on_connect() {
//      client.send("/topic/testTopic", {}, data);
                };
                // 定义错误时回调函数
                var on_error = function () {
                    console.log('error');
                };
                // 连接RabbitMQ
                Stomp_Client.connect('admin', 'admin', on_connect, on_error, '/');
            },
            initLock: function () {
                let lockItem = localStorage.getItem("lockItem");
                if (lockItem != null) {
                    let itemsAll = JSON.parse(lockItem);
                    let itemsLeft = itemsAll.left;
                    let itemsRight = itemsAll.right;
                    itemsLeft.forEach(item => $("#" + item).addClass("addBg"));
                    itemsRight.forEach(item => $("#" + item).addClass("addBg"));
                }
            },
            sendLockMessage: function () {
                let arrLeft = [];
                let arrRight = [];
                let videos = $(".video");
                for (let i = 0; i < videos.length; i++) {
                    if (videos.eq(i).hasClass("addBg")) {
                        let id = videos.eq(i).attr("id");
                        if (i % 6 < 3) {
                            arrLeft.push(id);
                        } else {
                            arrRight.push(id)
                        }
                    }
                }
                var data = {left: arrLeft, right: arrRight};
                Stomp_Client.send("/topic/testTopic", {}, JSON.stringify(data));
                localStorage.setItem("lockItem", JSON.stringify(data));
            },
            checkUp: function () {
                let data = 1;
                Stomp_Client.send("/topic/testTopic", {}, data);
            }
        }
    }
    $(function () {
        //点击选屏
        $(".video").on("click", function () {
            let arr = [];
            if ($(this).hasClass("addBg")) {
                $(this).removeClass("addBg");
            } else {
                $(this).addClass("addBg");
            }
        });
    });
</script>

<style scoped>
    .video {
        width: 100px;
        height: 100px;
        border: 1px solid #f00;
        float: left;
        text-align: center;
        line-height: 100px;
        cursor: pointer;
    }

    .line {
        width: 200px;
        float: left;
        height: 100px;
    }

    .addBg {
        background-color: #4cae4c;
    }

    #btn {
        margin-top: 20px;
        width: 100px;
        height: 30px;
    }
</style>
