<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 video"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 video"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 video"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 video"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 video"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 video"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 video"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 video"></div>
            <div class="col-lg-4 col-md-4 col-sm-4 video"></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "leftVideo"
    }
</script>

<style scoped>
    .container {
        height: 100vh;
        width: 100vw;
        padding: 0px 15px;
        margin: 0;
    }

    .row {
        height: calc(100vh / 3);
    }

    .video {
        height: 100%;
        background-color: gray;
    }

    div.row:nth-child(even) div.video:nth-child(odd) {
        background-color: #8a6d3b;
    }

    div.row:nth-child(odd) div.video:nth-child(even) {
        background-color: #4cae4c;
    }
</style>
